.card {
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #404040;;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 10px;
  }
  
  .card-title {
    display: flex;
    font-size: 34px;
    margin-bottom: 30px;
  }
  
  .card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .card-body,button{
   font-size: 30px;
   color:  #6a6a6a;
   border-color: 1px solid #b1b1b0;
  }
  .counter {
    font-size: 45px;
  }